* {
  border: 1px solid black;
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.background-buildings {
  width: 100%;
  height: 100%;
}
.bb1 {
  width: 10%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  --building-color1: #999;
}

/*To use a variable, put the variable name in parentheses with var in front of them like this: var(--variable-name). Whatever value you gave the variable will be applied to whatever property you use it on.

I've added the variable --building-color1 I created in the previous step as the value of the background-color property of the .bb1a class.*/

.bb1a {
  width: 70%;
  height: 10%;
  background-color: var(--building-color1);
}
.bb1b {
  width: 80%;
  height: 10%;
}
.bb1c {
  width: 90%;
  height: 10%;
}
.bb1d {
  width: 100%;
  height: 70%;
}
